NEXT_PUBLIC_SITE_URL=https://alpewear.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NOTION_API_KEY=
NOTION_DATABASE_ID=
NOTION_DATA_SOURCE_ID=
NOTION_WEBHOOK_VERIFICATION_TOKEN=
P2G_AFFILIATE_ID=
P2G_POSTBACK_URL=https://p2g-uat.epixel.link/en/api/postback/player-deposit/
